name: Rust CD

on:
  push:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  publish:
    name: Publish to Crates.io
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false
      - name: Prevent infinite loop
        run: |
          AUTHOR=$(git log -1 --pretty=format:'%an')
          if [ "$AUTHOR" = "github-actions" ]; then
            echo "Commit made by github-actions, skipping workflow to prevent infinite loop."
            exit 0
          fi
      - name: Bump patch version
        id: bump_version
        run: |
          # Extract current version from Cargo.toml
          CURRENT_VERSION=$(grep '^version' Cargo.toml | cut -d '"' -f 2)
          echo "Current version: $CURRENT_VERSION"

          # Split version into major, minor, patch
          IFS='.' read -r MAJOR MINOR PATCH <<< "$CURRENT_VERSION"
          PATCH=$((PATCH + 1))
          NEW_VERSION="$MAJOR.$MINOR.$PATCH"
          echo "New version: $NEW_VERSION"

          # Update Cargo.toml with new version
          sed -i 's/^version = "[^"]*"/version = "'$NEW_VERSION'"/' Cargo.toml

          # Output new version for later steps
          echo "new_version=$NEW_VERSION" >> $GITHUB_OUTPUT

      - name: Update Cargo.lock
        run: cargo check

      - name: Commit new version
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add Cargo.toml Cargo.lock
          git commit -m "CI: Bump version to ${{ steps.bump_version.outputs.new_version }}"
          git remote set-url origin https://x-access-token:${{ secrets.GH_PAT }}@github.com/${{ github.repository }}
          git push origin HEAD:main

      - name: Publish to crates.io
        run: cargo publish --token ${{ secrets.CARGO_REGISTRY_TOKEN }} --allow-dirty
